name: Build checks
on:
  - push
  - pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Retrieve required node version
        run: |
          echo "engine_node_version=$(jq -r '.engines.node' package.json)" >> $GITHUB_ENV
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.engine_node_version }}
      - run: npm ci --legacy-peer-deps
      - run: npm run lint --legacy-peer-deps
